
<html>
  <head>
    <title>TicsiPeru</title>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link href="https://fonts.googleapis.com/css?family=Bevan|Josefin+Slab|Roboto" rel="stylesheet"/>
    <link rel="stylesheet" href="foundation-icons.css"/>
    <link rel="stylesheet" href="foundation.css" type="text/css"/>
    <link rel="stylesheet" href="style.css" type="text/css"/>
  </head>
  <body>
    <header class="header">
      <div class="header-image"><img src="logo.png" width="150"/></div>
      <div><a id="menu-movil"><i class="fi-list"></i></a></div>
      <div id="header-nav" class="header-nav">
        <nav data-magellan="data-magellan">
          <ul id="header-menu" class="header-menu">
            <li><a href="/">INICIO</a></li>
            <li><a href="#servicio-container">SERVICIOS</a></li>
            <li><a href="people.html">NOSOTROS</a></li>
            <li><a href="contact.html">CONTACTANOS</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main id="main">
      <section class="consulting">
        <h3 class="consulting-title">Consultorias</h3>
        <div class="consulting-message">
          <p>Brindamos asesoria especializnada a nuestros</p>
          <p>clientes en la implementacion de herramientas</p>
          <p>de software para que enfrenten los constantes</p>
          <p>cambio del negocio</p>
        </div>
        <div class="consulting-button"><a class="hollow button">Conversemos sobre tu proyecto</a></div>
      </section>
      <section class="consulting-content">
        <div class="consulting-contentPage">
          <div>
            <h3 class="consulting-subtitle">Asesoramiento</h3>
            <div class="consulting-subcontent">
              <p>Soporte de equipos informaticos, Analisis, programacion</p>
              <p>preparacion y aplicacion de sistemas informaticos.</p>
            </div>
          </div>
          <div>
            <h3 class="consulting-subtitle">Evaluacion</h3>
            <div class="consulting-subcontent">
              <p>Evaluamos tus sistemas de informacion para determinar</p>
              <p>su rendimiento funcionalmente.</p>
            </div>
          </div>
          <div>
            <h3 class="consulting-subtitle">Implementacion</h3>
            <div class="consulting-subcontent">
              <p>Te ayudamos en la implementacion de las mejores</p>
              <p>tecnologias.</p>
            </div>
          </div>
          <div>
            <h3 class="consulting-subtitle">Administracion</h3>
            <div class="consulting-subcontent">
              <p>Te ayudamos a administrar todos los procesos</p>
              <p>de tu negocio con las mejores herramientas que existen</p>
              <p>en el mercado.</p>
            </div>
          </div>
        </div>
        <div class="column medium-4 align-self-middle text-center"><img src="consulting.jpg" width="350"/></div>
      </section>
    </main>
    <footer class="footer">
      <p>© Copyright 2016 - Ticsi Perù</p>
      <p>info@ticsiperu.net - #966175116</p>
    </footer>
    <script src="bundle.js"></script>
    <script src="jquery.js"></script>
    <script src="foundation.js"></script>
    <script src="app.js"></script>
  </body>
</html>