
<html>
  <head>
    <title>TicsiPeru</title>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link href="https://fonts.googleapis.com/css?family=Bevan|Josefin+Slab|Roboto" rel="stylesheet"/>
    <link rel="stylesheet" href="foundation-icons.css"/>
    <link rel="stylesheet" href="foundation.css" type="text/css"/>
    <link rel="stylesheet" href="style.css" type="text/css"/>
  </head>
  <body>
    <header class="header">
      <div class="header-image"><img src="logo.png" width="150"/></div>
      <div><a id="menu-movil"><i class="fi-list"></i></a></div>
      <div id="header-nav" class="header-nav">
        <nav data-magellan="data-magellan">
          <ul id="header-menu" class="header-menu">
            <li><a href="/">INICIO</a></li>
            <li><a href="#servicio-container">SERVICIOS</a></li>
            <li><a href="people.html">NOSOTROS</a></li>
            <li><a href="contact.html">CONTACTANOS</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main id="main">
      <section class="development">
        <h3 class="development-title">Desarrollo de sistemas</h3>
        <div class="development-message">
          <p>Tenemos una amplia experiencia</p>
          <p>en desarrollo de aplicaciones</p>
          <p>para empresas</p>
        </div>
        <div class="development-button"><a class="hollow button">Conversemos sobre tu proyecto</a></div>
      </section>
      <section class="development-content">
        <div class="development-contentPage">
          <div>
            <h3 class="development-subtitle">Software a Medida</h3>
            <div class="development-subcontent">
              <p>Brindamos soluciones informaticas paa nuestros clientes.</p>
              <p>Nuestros equipo se encargara de estudiar las necesidades</p>
              <p>tecnologicas de su organizacion, analizando sus procesos</p>
              <p>y operaciones, para ofrecerte una solucion personalizada,</p>
              <p>de acuerdo a cada uno de los requerimientos establecidos,</p>
              <p>que agilice su productividad y rentabilidad.</p>
            </div>
          </div>
          <div>
            <h3 class="development-subtitle">Diseño y Desarrollo Web</h3>
            <div class="development-subcontent">
              <p>Planificamos y diseñamos la web que se ajuste a sus</p>
              <p>necesidades, proyectando la imagen corporativa d tu</p>
              <p>organizacion con un diseño profesional, pensando en</p>
              <p>la maxima usabilidad, accesibilidad y funcionalidad</p>
              <p>brindandoles a sus clientes una experiencia</p>
              <p>agradable.</p>
            </div>
          </div>
        </div>
        <div><img src="development.png" width="350"/></div>
      </section>
    </main>
    <footer class="footer">
      <p>© Copyright 2016 - Ticsi Perù</p>
      <p>info@ticsiperu.net - #966175116</p>
    </footer>
    <script src="bundle.js"></script>
    <script src="jquery.js"></script>
    <script src="foundation.js"></script>
    <script src="app.js"></script>
  </body>
</html>