
<html>
  <head>
    <title>TicsiPeru</title>
    <link href="https://fonts.googleapis.com/css?family=Bevan|Josefin+Slab|Roboto" rel="stylesheet"/>
    <link rel="stylesheet" href="foundation.css" type="text/css"/>
    <link rel="stylesheet" href="style.css" type="text/css"/>
  </head>
  <body>
    <header class="row header expanded align-middle">
      <div class="column small-6"><img src="logo.png" width="150"/></div>
      <div class="column small-6">
        <nav data-magellan="data-magellan">
          <ul id="menu" class="menu align-spaced header-menu">
            <li><a href="/">INICIO</a></li>
            <li><a href="#servicio-container">SERVICIOS</a></li>
            <li><a href="/people.html">NOSOTROS</a></li>
            <li><a href="/contact.html">CONTACTANOS</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main id="main">
      <section class="row home expanded  align-middle">
        <div class="home-message column small-12">
          <p>Tenemos la tecnologia que necesitas</p>
          <p>Confia en la calidad, en el profesionalismo y</p>
          <p>compromiso Confia en nosotros</p>
        </div>
        <div class="home-button column small-12 text-left"><a href="#" class="hollow button">Conversemos sobre tu Proyecto</a></div>
      </section>
      <section class="row  home-client expanded text-center">
        <div class="column">
          <h3>Nuestros Clientes</h3>
        </div>
        <div class="home-clientMessage column medium-12">
          <p>Nuestros clientes emprenden proyectos duraderos y de alto impacto</p>
          <p>Apuestan por la innovacion y la inteligencia. Nos traen desafios</p>
          <p>tecnicos unicos. Buscan deleitar a sus clientes, internos o externos</p>
          <p>y por sobre todo, anhelan mejorar continuamente la manera de hacer las cosas</p>
        </div>
        <div class="home-clientImage column medium-12"><img src="logo_cnpc.gif" width="160"/><img src="logo_global.png" width="250"/><img src="logo_ortiz.png" width="250" height="57"/></div>
      </section>
      <section class="home-services text-center">
        <div class="home-servicesTitle">
          <h3>SERVICIOS</h3>
        </div>
        <div class="home-servicesDetails">
          <p>Nuestros servicios estan orientados a brindar soluciones a medida</p>
          <p>con herramientas de software de manera eficiente, tecnica y economica</p>
          <p>Tenemos como objetivo principal el de proporcionar valor a las empresas</p>
        </div>
      </section>
      <section id="servicio-container" data-magellan-target="servicio-container" data-equalizer="data-equalizer" data-equalize-on="medium" class="row home-serviceType align-spaced"><a data-equalizer-watch="data-equalizer-watch" class="home-serviceType1 column medium-5">
          <div>
            <h3>Desarrollo de Sistemas</h3>
            <p>Tenemos una amplia experiencia en desarrollo de aplicaciones</p>
            <p>Para empresas</p>
          </div></a><a data-equalizer-watch="data-equalizer-watch" class="home-serviceType2 column medium-5">
          <div>
            <h3>Networking</h3>
            <p>Servicio especialiado en servicios de redes</p>
          </div></a><a data-equalizer-watch="data-equalizer-watch" class="home-serviceType3 column medium-5">
          <div>
            <h3>Soporte TI</h3>
            <p>
              Tenemos personal capacitado para brindar servicio de soporte de
              tecnologias  de la informacion
            </p>
          </div></a><a data-equalizer-watch="data-equalizer-watch" class="home-serviceType4 column medium-5">
          <div>
            <h3>Consultorias</h3>
            <p>
              Brindamos asesoria especializada a nuestros clientes
              en la implementacion de herramientas de software para
              que enfrenten los constantes cambios del negocio
            </p>
          </div></a><a class="home-serviceType5 column medium-5">
          <div>
            <h3>Ventas</h3>
            <p>
              Soluciones integrales brindando servicios
              como Alquiler y venta d computadoras
              mantenimiento y reparacion
            </p>
          </div></a></section>
    </main>
    <footer class="footer row text-center expanded">
      <p class="column small-12">© Copyright 2016 - Ticsi Peru</p>
      <p class="column small-12">info@ticsiperu.net - #966175116</p>
    </footer>
    <script src="bundle.js"></script>
    <script src="jquery.js"></script>
    <script src="foundation.js"></script>
    <script src="app.js"></script>
  </body>
</html>