
<html>
  <head>
    <title>TicsiPeru</title>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link href="https://fonts.googleapis.com/css?family=Bevan|Josefin+Slab|Roboto" rel="stylesheet"/>
    <link rel="stylesheet" href="foundation-icons.css"/>
    <link rel="stylesheet" href="foundation.css" type="text/css"/>
    <link rel="stylesheet" href="style.css" type="text/css"/>
  </head>
  <body>
    <header class="header">
      <div class="header-image"><img src="logo.png" width="150"/></div>
      <div><a id="menu-movil"><i class="fi-list"></i></a></div>
      <div id="header-nav" class="header-nav">
        <nav data-magellan="data-magellan">
          <ul id="header-menu" class="header-menu">
            <li><a href="/">INICIO</a></li>
            <li><a href="#servicio-container">SERVICIOS</a></li>
            <li><a href="people.html">NOSOTROS</a></li>
            <li><a href="contact.html">CONTACTANOS</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main id="main">
      <section class="network">
        <h3 class="network-title">Networking</h3>
        <div class="network-message">
          <p>Servicio especializado en integraciòn</p>
          <p>de redes</p>
        </div>
        <div class="network-button"><a class="hollow button">Conversemos sobre tu proyecto</a></div>
      </section>
      <section class="network-content">
        <div class="network-contentPage">
          <div>
            <h3 class="network-subtitle">Diseño e Implementacion</h3>
            <div class="network-subcontent">
              <p>Brindamos el diseño, implementacion y mantenimiento de red de datos, cableado</p>
              <p>mantenimiento de red de datos, cableado estructurado, puntos de acceso inalambrico,</p>
              <p>Radio enlaces.</p>
            </div>
          </div>
          <div>
            <h3 class="network-subtitle">Lan y Wifi</h3>
            <div class="network-subcontent">
              <p>Diseño fisico y logico,implementacion y mantenimiento de red, cableado</p>
              <p>estructurado. Proporcionamos equipos,implementacion y mantenimiento de puntos</p>
              <p>de acceso inalambricos.</p>
            </div>
          </div>
        </div>
        <div><img src="network.jpg" width="350"/></div>
      </section>
    </main>
    <footer class="footer">
      <p>© Copyright 2016 - Ticsi Perù</p>
      <p>info@ticsiperu.net - #966175116</p>
    </footer>
    <script src="bundle.js"></script>
    <script src="jquery.js"></script>
    <script src="foundation.js"></script>
    <script src="app.js"></script>
  </body>
</html>