
<html>
  <head>
    <title>TicsiPeru</title>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link href="https://fonts.googleapis.com/css?family=Bevan|Josefin+Slab|Roboto" rel="stylesheet"/>
    <link rel="stylesheet" href="foundation-icons.css"/>
    <link rel="stylesheet" href="foundation.css" type="text/css"/>
    <link rel="stylesheet" href="style.css" type="text/css"/>
  </head>
  <body>
    <header class="header">
      <div class="header-image"><img src="logo.png" width="150"/></div>
      <div><a id="menu-movil"><i class="fi-list"></i></a></div>
      <div id="header-nav" class="header-nav">
        <nav data-magellan="data-magellan">
          <ul id="header-menu" class="header-menu">
            <li><a href="/">INICIO</a></li>
            <li><a href="#servicio-container">SERVICIOS</a></li>
            <li><a href="people.html">NOSOTROS</a></li>
            <li><a href="contact.html">CONTACTANOS</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main id="main">
      <section class="sales">
        <h3 class="sales-title">Suministro de equipos informaticos</h3>
        <div class="sales-message">
          <p>Soluciones integrales brindando servicios como</p>
          <p>alquiler y venta de computadoras mantenimiento</p>
          <p>y reparacion.</p>
        </div>
        <div class="sales-button"><a class="hollow button">Conversemos sobre tu proyecto</a></div>
      </section>
      <section class="sales-content">
        <div class="sales-contentPage">
          <div>
            <h3 class="sales-subtitle">Ventas</h3>
            <div class="sales-subcontent">
              <p>Ofrecemos ventas de computadoras, monitores,</p>
              <p>impresoras, etc. Accesorios necesarios para tu</p>
              <p>trabajo.</p>
            </div>
          </div>
          <div>
            <h3 class="sales-subtitle">Alquiler</h3>
            <div class="sales-subcontent">
              <p>Ademas ofrecemos alquiler de computadoras,monitores</p>
              <p>impresoras,etc. Y accesorios que necesites.</p>
            </div>
          </div>
          <div>
            <h3 class="sales-subtitle">Reparacion</h3>
            <div class="sales-subcontent">
              <p>Reparamos equipos de computo, monitores y laptops.</p>
            </div>
          </div>
        </div>
        <div><img src="sales.jpg" width="350"/></div>
      </section>
    </main>
    <footer class="footer">
      <p>© Copyright 2016 - Ticsi Perù</p>
      <p>info@ticsiperu.net - #966175116</p>
    </footer>
    <script src="bundle.js"></script>
    <script src="jquery.js"></script>
    <script src="foundation.js"></script>
    <script src="app.js"></script>
  </body>
</html>