
<html>
  <head>
    <title>TicsiPeru</title>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link href="https://fonts.googleapis.com/css?family=Bevan|Josefin+Slab|Roboto" rel="stylesheet"/>
    <link rel="stylesheet" href="foundation-icons.css"/>
    <link rel="stylesheet" href="foundation.css" type="text/css"/>
    <link rel="stylesheet" href="style.css" type="text/css"/>
  </head>
  <body>
    <header class="header">
      <div class="header-image"><img src="logo.png" width="150"/></div>
      <div><a id="menu-movil"><i class="fi-list"></i></a></div>
      <div id="header-nav" class="header-nav">
        <nav data-magellan="data-magellan">
          <ul id="header-menu" class="header-menu">
            <li><a href="/">INICIO</a></li>
            <li><a href="#servicio-container">SERVICIOS</a></li>
            <li><a href="people.html">NOSOTROS</a></li>
            <li><a href="contact.html">CONTACTANOS</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main id="main">
      <section class="support">
        <h3 class="support-title">Soporte TI</h3>
        <div class="support-message">
          <p>Tenemos personal capacitado</p>
          <p>para brindar servicio de soporte</p>
          <p>de tecnologia de la informacion</p>
        </div>
        <div class="support-button"><a class="hollow button">Conversemos sobre tu proyecto</a></div>
      </section>
      <section class="support-content">
        <div class="support-contentPage">
          <div>
            <h3 class="support-subtitle">Soporte</h3>
            <div class="support-subcontent">
              <p>Soporte de equipos informaticos, Analisis,</p>
              <p>programacion, preparacion y aplicacion</p>
              <p>de sistemas informaticos.</p>
            </div>
          </div>
          <div>
            <h3 class="support-subtitle">Mantenimiento</h3>
            <div class="support-subcontent">
              <p>Mantenimiento preventivo,correctivo y</p>
              <p>y predictivo de equipos informaticos.</p>
            </div>
          </div>
          <div>
            <h3 class="support-subtitle">Administracion</h3>
            <div class="support-subcontent">
              <p>Administracion de las principales tecnologias</p>
              <p>de la informacion, servidores,equipos</p>
              <p>de gestion de sistemas.</p>
            </div>
          </div>
        </div>
        <div><img src="support.jpg" width="350"/></div>
      </section>
    </main>
    <footer class="footer">
      <p>© Copyright 2016 - Ticsi Perù</p>
      <p>info@ticsiperu.net - #966175116</p>
    </footer>
    <script src="bundle.js"></script>
    <script src="jquery.js"></script>
    <script src="foundation.js"></script>
    <script src="app.js"></script>
  </body>
</html>